body {
  width: 100vw;

  background-image: url(jeopardy_logo_bground.jpg);
  background-size: 15%;
}

#jeopBox {
  background-color: skyblue;
  border-radius: 20px;
  border: 10px solid brown;
  margin-top: 2%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0px;
  width: 50%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  text-align: center;
}

#jeopBox > * {
  margin: 0;
  padding: 0;
  margin-top: 1%;
  margin-bottom: 1%;
}

#scoreBox {
  border-top: 8px solid brown;
  border-bottom: 8px solid brown;
  display: flex;
  font-size: 2em;
  background: blue;
  color: white;


}

#scoreLabel {
  margin-top: 1%;
  margin-bottom: 1%;
  margin-right: 5%;
  color: yellow;
  font-weight: bold;
  text-align: right;
  flex-grow: 1;
  width: 20%;
  height: 40px;
}

#score {
  margin-top: 1%;
  margin-bottom: 1%;
  color: yellow;
  font-weight: bold;
  text-align: left;
  height: 40px;
  width: 48%;
}

input {
  width: 70%;
  height: 30px;
  border-width: 3px;
  font-size: 1.5em;
  align-self: center;
  text-align: center;
}

button {
  outline: none;
  box-shadow: 0 0 3px 3px;
  width: 100px;
  height: 50px;
  margin-top: 2%;
  border-radius: 50%;
  font-size: 1.4em;
  align-self: center;
  margin-bottom: 3%;

}

button:active {
  color: lightblue;
}

#buttonHolder {
}

#submitBox {
  text-align: center;
}

#nextButton {
  float: right;
  width: 65px;
  margin-right: 1.5%;
}

#questionText {

  font-size: 1.5em;
  background-color: blue;

  /*color: #f9da08;*/
  font-weight: bold;
  color: yellow;
  border-top: 8px solid brown;
  border-bottom: 8px solid brown;



}
h3 {


  align-self: center;
  color: white;

  font-size: 2em;


}
#points {
  width: 95%;
}
