body {
  width: 100vw;

  background-color: blue;
}

#jeopBox {
  background-color: skyblue;
  border-radius: 20px;
  border: 8px solid brown;
  margin-top: 3%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0px;
  width: 50%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  text-align: center;
}

#jeopBox > * {
  margin: 0;
  padding: 0;
  margin-top: 1%;
  margin-bottom: 1%;
}

#scoreBox {
  border-top: 8px solid brown;
  border-bottom: 8px solid brown;
  display: flex;
  font-size: 2em;
  background: blue;
  color: white;


}

#scoreLabel {
  margin-top: 1%;
  margin-bottom: 1%;
  color: yellow;
  font-weight: bold;
  text-align: center;
  flex-grow: 1;
  width: 20%;
  height: 40px;
}

#score {
  margin-top: 1%;
  margin-bottom: 1%;
  color: yellow;
  font-weight: bold;
  text-align: left;
  height: 40px;
  width: 50%;
}

input {
  width: 70%;
  height: 30px;
  font-size: 1.5em;
  align-self: center;
}

button {
  width: 25%;
  height: 80px;
  font-size: 1.4em;
  align-self: center;
  margin-bottom: 3%;

}

button:hover {
  color: red;
  border-color: red;
}

button:active {
  color: green;
  border-color: green;
}

#questionText {

  font-size: 1.5em;
  background-color: blue;

  /*color: #f9da08;*/
  font-weight: bold;
  color: yellow;
  border-top: 8px solid brown;
  border-bottom: 8px solid brown;



}
h3 {


  align-self: center;
  color: white;

  font-size: 2em;


}
#points {
  width: 95%;
}
