body {
  width: 100vw;
  height: 100vh;
  background-color: blue;
}

#jeopBox {
  background-color: skyblue;
  border-radius: 20px;
  margin-top: 3%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0px;
  width: 50%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  text-align: center;
}

#scoreBox {
  border: 10px solid black;
  display: flex;
  font-size: 4em;
  width: 97%;
  background: blue;
  color: white;
  height: 55%;
}

#scoreLabel {
  //border: 2px solid black;
  text-align: right;
  width: 20%;
  height: 30px;
}

#score {
  border: 2px solid black;
  text-align: center;
  height: 30px;
  width: 40%;
  margin-left: 150px;
}

input {
  width: 70%;
  height: 30px;
  font-size: 1.5em;
  align-self: center;
}

button {
  width: 25%;
  height: 80px;
  font-size: 1.4em;
  align-self: center;
  margin-bottom: 3%;
  margin-top: 5px;
}

button:hover {
  color: red;
  border-color: red;
}

button:active {
  color: green;
  border-color: green;
}

#questionText {
  margin-left: 5%;
  margin-right: 5%;
  font-size: 1.5em;
  background-color: blue;
  border-radius: 5px;
  color: #f9da08;
  border: 10px solid black;
  margin: 0px 0px 40px;

}
h3 {
  border: 10px solid black;
  padding: 10px;
  align-self: center;
  color: white;
  background: blue;
  font-size: 2em;
  margin: 0px;
  width: 95%;
}
#points {
  width: 95%;
}
